{% extends "base.html" %}
{% block content %}

    <div class="min-vh-100 bg-dark recipe-bg">
        <!-- WIP -->
        <!-- SEARCH FOR RECIPES and TIPS AREA -->
        <div class="recipe-container mx-auto">
            <h1 class="text-center display-3 mt-5">What is the Paleo Diet?</h1>
            <p class="paleo-font text-white h5">
                Why is it so popular?
            </p>
        </div>
        <div class="bg-transparent mt-3">
            <form action="{{ url_for('search_recipes') }}" method="POST">
                <div class="container-fluid">
                    <div class="row p-2 pt-3 d-flex align-items-center">
                        <div class="col-md-8 mx-auto">
                            <div class="d-flex form-inputs input-field">
                                <input class="validate form-control" type="text" name="query" id="query" minlength="3" required
                                    aria-label="Search" placeholder="Search for delicious & healthy recipes...">
                                <label for="query" class="white-text visuallyhidden"></label>
                            </div>
                            <div class="card-body text-center">
                                <a href="{{ url_for('recipes') }}" class="btn btn-solid">Reset</a>
                                <button class="btn btn-alt text-center mx-2" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <h2 class="text-white">Is the Paleo diet, an eating plan modeled on prehistoric human diets, right for modern humans?</h2>
        <p class="text-white">
            A paleo diet is a dietary plan based on foods similar to what might have been eaten during the Paleolithic era,
            which dates from approximately 2.5 million to 10,000 years ago.
        </p>
        <p class="text-white">
            A paleo diet typically includes lean meats, fish, fruits, vegetables, nuts and seeds — foods that in the past could be
            obtained by hunting and gathering. A paleo diet limits foods that became common when farming emerged about 10,000 years ago.
            These foods include dairy products, legumes and grains.
        </p>
        <p class="text-white">
            Other names for a paleo diet include Paleolithic diet, Stone Age diet, hunter-gatherer diet and caveman diet.
        </p>
    </div>


{% endblock %}