{% extends "base.html" %}
{% block content %}

    <div class="min-vh-100 bg-dark recipe-bg">
        <!-- SEARCH FOR RECIPES and TIPS AREA -->
        <div class="recipe-container mx-auto">
            <h1 class="text-center display-3 mt-5">What is the Paleo Diet?</h1>
            <p class="paleo-font text-white h5">
                Why is it so popular?
            </p>
        </div>
        <div class="bg-transparent mt-3">
            <form action="{{ url_for('search_recipes') }}" method="POST">
                <div class="container-fluid">
                    <div class="row p-2 pt-3 d-flex align-items-center">
                        <div class="col-md-8 mx-auto">
                            <div class="d-flex form-inputs input-field">
                                <input class="validate form-control" type="text" name="query" id="query" minlength="3" required
                                    aria-label="Search" placeholder="Search for delicious & healthy recipes...">
                                <label for="query" class="white-text visuallyhidden"></label>
                            </div>
                            <div class="card-body text-center">
                                <a href="{{ url_for('recipes') }}" class="btn btn-solid">Reset</a>
                                <button class="btn btn-alt text-center mx-2" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- ABOUT PALEO DIET CONTENT AREA -->
        <div class="text-center my-5 mx-5 mb-4">
            <h2>
                Here at <span class="text-center display-4 mt-5">Paleo Recipes</span>, we hope you'll find benefits in having access to varied paleo meal plans and enjoy
                sharing your own favourite recipes too!
            </h2>
        </div>

        <div class="text-center my-5 mx-5 mb-4">
            <h2 class="text-white mb-4">Is the Paleo diet, an eating plan modeled on prehistoric human diets, right for modern humans?</h2>
            <p class="text-white">
                A paleo diet is a dietary plan based on foods similar to what might have been eaten during the Paleolithic era,
                which dates from approximately 2.5 million to 10,000 years ago.
            </p>
            <p class="text-white">
                A paleo diet typically includes lean meats, fish, fruits, vegetables, nuts and seeds — foods that in the past could be
                obtained by hunting and gathering. A paleo diet limits foods that became common when farming emerged about 10,000 years ago.
                These foods include dairy products, legumes and grains.
            </p>
            <p class="text-white">
                Other names for a paleo diet include Paleolithic diet, Stone Age diet, hunter-gatherer diet and caveman diet.
            </p>
        </div>

        <div class="text-center my-5 mx-5 mb-4">
            <h2 class="text-white display-3 display-font">Why you might follow a paleo diet</h2>
            <p class="text-white">
                You might choose to follow a paleo diet because you:
            </p>
            <ul>
                <li class="text-white">Want to lose weight or maintain a healthy weight</li>
                <li class="text-white">Want help planning meals</li>
            </ul>
        </div>
        <div class="text-center my-5 mx-5 mb-4">
            <h2 class="text-white display-font mb-4">Details of a paleo diet</h2>
            <p class="text-white">
                Recommendations vary among commercial paleo diets, and some diet plans have
                stricter guidelines than others. In general, paleo diets follow these guidelines.
            </p>
        </div>
        <div class="text-center my-5 mx-5 mb-4">
            <h2 class="text-white display-font mb-4">What to eat</h2>
            <ul>
                <li class="text-white">Fruits</li>
                <li class="text-white">Vegetable</li>
                <li class="text-white">Nuts and seeds</li>
                <li class="text-white">Lean meats, especially grass-fed animals or wild game</li>
                <li class="text-white">Fish, especially those rich in omega-3 fatty acids, such as salmon, mackerel and albacore tuna</li>
                <li class="text-white">Oils from fruits and nuts, such as olive oil or walnut oil</li>
            </ul>
        </div>
        <div class="text-center my-5 mx-5 mb-4">
            <h2 class="text-white display-font mb-4">What to avoid</h2>
            <ul>
                <li class="text-white">Grains, such as wheat, oats and barley</li>
                <li class="text-white">Legumes, such as beans, lentils, peanuts and peas</li>
                <li class="text-white">Dairy products</li>
                <li class="text-white">Refined sugar</li>
                <li class="text-white">Salt</li>
                <li class="text-white">Potatoes</li>
                <li class="text-white">Highly processed foods in general</li>
            </ul>
        </div>
        <div class="text-center my-5 mx-5 mb-4">
        <p class="h3 display-font">Source: The Mayo Clinic, Nutrition and Healthy Eating</p>
        <a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/paleo-diet/art-20111182" target="_blank"></a>
        </div>
    </div>

{% endblock %}