{% extends "base.html" %}
{% block content %}

    <section class="min-vh-100 bg-dark add-recipe-bg">
        <div class="add-recipe-container transparent">
            <h1 class="text-center display-3 mt-5">Add a Recipe</h1>
            <p class="paleo-font text-white h5 mb-5">Share any of your favourite paleo recipes for everyone to enjoy!</p>
            <div class="row">
                <form action="{{ url_for('add_recipe') }}" method="POST" class="input-text card col-12 mb-5" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row g-2">
                            <!-- category selection -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-check2-circle bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11">
                                <div class="form-floating mb-3">
                                    <select name="category_id" id="category_id" class="validate input-text d-flex mt-4" required>
                                        <option value="" disabled selected>Choose Category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- recipe name input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-tag bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <input type="text" name="recipe_name" id="recipe_name" class="form-control form-control-sm validate"
                                        placeholder="Recipe Name" required>
                                    <label for="recipe_name">Recipe Name</label>
                                </div>
                            </div>
                            <!-- recipe description input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-blockquote-left bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <textarea name="recipe_description" id="recipe_description" rows="2" class="form-control form-control-sm validate"
                                        placeholder="recipe description" required></textarea>
                                    <label for="recipe_description">Description</label>
                                </div>
                            </div>
                            <!-- ingredients input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-card-checklist bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <textarea name="ingredients" id="ingredients" rows="20" class="form-control form-control-sm validate"
                                        placeholder="recipe description" required></textarea>
                                    <label for="ingredients">Ingredients</label>
                                </div>
                            </div>
                            <!-- prep time input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-hourglass-split bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <input type="number" name="prep_time" id="prep_time" class="form-control form-control-sm validate"
                                        placeholder="prep_time" required>
                                    <label for="prep_time">Preparation time (in minutes)</label>
                                </div>
                            </div>
                            <!-- cook time input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-clock bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <input type="number" name="cook_time" id="cook_time" class="form-control form-control-sm validate"
                                        placeholder="cook_time" required>
                                    <label for="cook_time">Cooking time (in minutes)</label>
                                </div>
                            </div>
                            <!-- servings input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-people-fill bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <input type="number" name="servings" id="servings" class="form-control form-control-sm validate"
                                        placeholder="servings" required>
                                    <label for="servings">Servings</label>
                                </div>
                            </div>
                            <!-- instructions input -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-book-half bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <textarea name="instructions" id="instructions" rows="20" class="form-control form-control-sm validate"
                                        placeholder="cooking instructions" required></textarea>
                                    <label for="instructions">Preparation and Cooking Steps</label>
                                </div>
                            </div>
                            <!-- notes -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-sticky bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <textarea name="notes" id="notes" rows="5" class="form-control form-control-sm validate"
                                        placeholder="notes"></textarea>
                                    <label for="notes">Additional Notes</label>
                                </div>
                            </div>
                            <!-- nutrition -->
                            <div class="align-self-center col-md-1">
                                <i class="bi-file-medical bootstrap-icon btn btn-primary btn-floating m-1"></i>
                            </div>
                            <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                                <div class="form-floating">
                                    <input type="text" name="nutrition" id="nutrition" class="form-control form-control-sm validate"
                                        placeholder="nutrition">
                                    <label for="nutrition">Nutrition</label>
                                </div>
                            </div>
                            <!-- upload image button for users -->
                            <!-- <p class="mt-3 mb-0 h6">REQUIRED: Upload Image for Recipe</p> -->
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">REQUIRED: Upload Image for Recipe</label>
                                <input class="form-control form-control-sm" accept="image" name="image_url" id="image_url" id="formFileSm" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input type="file-path validate" placeholder="Public API Key" type="text" required>
                            </div>

                            <!-- <div class="file-field input-field"> -->
                                <!-- <div>
                                    <label for="form-file" class="form-label">REQUIRED: Upload Image for Recipe</label>
                                    <input type="file" accept="image" name="image_url" id="image_url" class="mb-2 mt-2">
                                </div> -->
                                <!-- <div class="file-path-wrapper">
                                    <input type="file-path validate" placeholder="Public API Key" type="text" required>
                                </div>
                            </div> -->
                            <!-- submit button -->
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button type="submit" class="btn btn-solid border-0 px-3 mt-3">
                                        Add Recipe <i class="bi-box-arrow-in-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}