<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social media integration when users share the site's content -->
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Paleo Recipes App" />
    <meta property="og:description" content="Paleo Recipes help users find paleo-friendly delicious meals, share their own recipes, tips and 		ideas on eating healthy" />
    <meta name="image" property="og:image" content="" />
    <meta property="og:image:alt" content="Paleo Recipes App shown on a variety of devices" />
    <meta property="og:url" content="https://flask-sqlalchemy-task-mgr-jz.herokuapp.com/" />
    <meta property="og:site_name" content="Paleo Recipes App" />
    <meta name="author" content="Joy Zadan">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">

    <!-- STYLESHEETS -->
    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="">

    <title>Paleo Recipes App</title>
</head>

<body>

    Hello World!

</body>
</html>