<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social media integration when users share the site's content -->
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Paleo Recipes App" />
    <meta property="og:description" content="Paleo Recipes help users find paleo-friendly delicious meals,
        share their own recipes, tips and ideas on eating healthy" />
    <meta name="image" property="og:image" content="" />
    <meta property="og:image:alt" content="Paleo Recipes App shown on a variety of devices" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Paleo Recipes App" />
    <meta name="author" content="Joy Zadan">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <!-- STYLESHEETS -->
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous" type="text/css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>Paleo Recipes App</title>
</head>

<body>

    <header>
    <!-- TOP NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-dark shadow-5-strong">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}"
                    alt="Paleo Recipes logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('register')}}">Register</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('login')}}">Login</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Feedback</a>
                        </li>
                        {% if session.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('profile')}}">Profile</a>
                            </li>
                        {% endif%}

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert text-center h4 flash bg-dark" role="alert">
                            {{ message }}
                            <button class="btn-close flash-btn" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        {% block content %}


        {% endblock %}
    </main>

    <!-- FOOTER -->
    <!-- Credit: https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/ -->
    <footer class="text-center text-lg-start text-white bg-dark">
        <!-- Grid container -->
        <div class="container bg-dark p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <a class="navbar-brand" href="{{ url_for('home') }}">
                            <img src="{{ url_for('static', filename='images/logo.svg') }}"
                            alt="Paleo Recipes logo" class="logo">
                        </a>
                        <p class="text-display">
                            Join our growing community of paleo lovers. Here you can search for recipes, post your own recipes,
                            and share thoughts and tips that are making a huge difference to your quest to eat healthy.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Recipes</h6>
                        <p>
                            <a class="text-white">Find</a>
                        </p>
                        <p>
                            <a class="text-white">Add</a>
                        </p>
                        <p>
                            <a class="text-white">Upload</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Blog</h6>
                        <p>Get Tips and Ideas</p>
                        <p>Share Your Thoughts</p>
                        <p>Find More Topics</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1 social-icon" href="#!"
                            role="button"><i class="bi-twitter"></i>
                        </a>

                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1 social-icon" href="#!"
                            role="button"><i class="bi-linkedin"></i></a>

                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1 social-icon" href="#!"
                            role="button"><i class="bi-github"></i></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 copyright-bg">
            © 2022 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">&copy; Paleo Recipes</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>