{% extends "base.html" %}
{% block content %}


    <section class="min-vh-100 bg-dark add-recipe-bg">
        <div class="add-recipe-container transparent">
            <h1 class="text-center display-3 mt-5">Blogs</h1>
            <p class="paleo-font text-white h5 mb-3">
                Share any of your tips and ideas, big or small, that made a HUUUUGE difference towards
                eating and living healthy!
            </p>
            <!-- Blogs layout credit to: https://codepen.io/themesberg/pen/abNzONL -->
            <div class="container my-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active bg-secondary"></li>
                                <li data-target="#carousel" data-slide-to="1" class="bg-secondary"></li>
                                <li data-target="#carousel" data-slide-to="2" class="bg-secondary"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                        Kits</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                        using GPT-3</h5>
                                                    <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                        platform and I had the occasion to play around with it...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                        jQuery</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                        9 and 10</h5>
                                                    <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                        to let you know that following this major update to version...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                        Kits</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                        using GPT-3</h5>
                                                    <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                        platform and I had the occasion to play around with it...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                        jQuery</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                        9 and 10</h5>
                                                    <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                        to let you know that following this major update to version...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                        Kits</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                        using GPT-3</h5>
                                                    <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                        platform and I had the occasion to play around with it...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                        jQuery</h5>
                                                    <p class="card-text">We’re getting nearer to the end of summer and because we
                                                        know that this period can make a serious dent in your pocket..</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                        9 and 10</h5>
                                                    <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                        to let you know that following this major update to version...</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}