{% extends "base.html" %}
{% block content %}


    <section class="min-vh-100 bg-dark add-recipe-bg">
        <div class="blog-container transparent">
            <h1 class="text-center display-3 mt-5">Blogs</h1>
            <p class="paleo-font text-white h5 mb-3">
                Share any of your tips and ideas, big or small, that made a HUUUUGE difference towards
                eating and living healthy!
            </p>
            <!-- Blogs layout credit to: https://codepen.io/themesberg/pen/abNzONL -->
            <div class="container my-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active bg-secondary"></li>
                                <li data-target="#carousel" data-slide-to="1" class="bg-secondary"></li>
                                <li data-target="#carousel" data-slide-to="2" class="bg-secondary"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src="{{ url_for('static', filename='images/stew.webp') }}"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                                            <div class="card mr-3">
                                                <img src=""
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Craving pasta and bread - how to beat the temptations</h5>
                                                    <p class="card-text">If you are craving pasta, grains and bread, you have come to the right place.</p>
                                                    <a href="#" class="btn btn-primary">Any tips?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}