{% extends "base.html" %}
{% block content %}

    <div class="min-vh-100 alt-bg bg-dark">
        <!-- MANAGE CATEGORIES -->
        <div class="recipe-container mx-auto">
            <h1 class="text-center display-3 mt-5">Manage Categories of Recipes</h1>
            <p class="paleo-font text-white h5 mt-4">
                SUPERADMIN USERS ONLY
            </p>
            <div class="text-center">
                <a href="" class="btn btn-alt border-0 px-3" role="button">Add Category
                    <i class="bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <!-- LIST OF CATEGORIES -->


        <div class="alt-categories-container">
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
            <div class="each-category-card">
                <h3 class="text-white">CATEGORY NAME AREA</h3>
                <div class="card-body text-center">
                    <a href="" class="btn btn-solid">Edit</a>
                    <a href="" class="btn btn-solid">Delete</a>
                    <button class="btn btn-alt text-center mx-2" type="submit">Delete2</button>
                </div>
            </div>
        </div>





        <button id="btnScrollUp" title="Go to top"><i class="bi bi-arrow-up-circle-fill"></i> Top</button>


    </div>

















{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}