{% extends "base.html" %}
{% block content %}

    <section class="col-sm min-vh-100 bg-dark categories-bg">
        <!-- <div class="container-category"> -->

            <div class="category-container px-3">
                <h1 class="text-center display-1 mt-5">Recipe Categories</h1>
                <p class="text-center text-white mt-2"> A place to find different types of paleo recipes.</p>
                <p class="text-center text-white">
                    To help you start your paleo diet and set yourself up for success.
                </p>
                <div class="text-center">
                    <a href="{{ url_for('add_category') }}" class="btn btn-alt border-0 px-3" role="button">Add Category
                        <i class="bi-plus-circle"></i>
                    </a>
                </div>
            </div>
        <!-- </div> -->
    </section>







{% endblock %}