{% extends "base.html" %}
{% block content %}

    <section class="container mb-5 wrapper bg-dark">
        <h1 class="text-center my-3">Edit Category</h1>
        <div class="row">
            <form action="{{ url_for('edit_category', category_id=category.id) }}" method="POST" class="card col-12 col-md-8 offset-md-2 mb-5">
                <div class="card-body">
                    <div class="row g-2">
                        <!-- category name -->
                        <div class="align-self-center col-md-1">
                            <i class="bi-folder2-open bootstrap-icon btn btn-primary btn-floating m-1"></i>
                        </div>
                        <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="category_name" id="category_name" value="{{ category.category_name }}"
                                    class="form-control validate" minlength="4" maxlength="15" placeholder="" required>
                                <label for="category_name">Category Name</label>
                            </div>
                        </div>
                        <!-- submit button -->
                        <div class="row d-flex justify-content-center mt-2">
                            <div class="text-center">
                                <button class="btn btn-solid border-0 px-3" type="submit">Edit Category
                                    <i class="bi-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}