{% extends "base.html" %}
{% block content %}

    <section class="min-vh-100 error-bg">
        <div class="error-container col-xs-12 transparent">
            <h1 class="text-center display-1 mt-5">Oops!</h1>
        </div>
        <div class="text-center">
            <!-- displays error message -->
            <h2 class="mt-5 mb-5 text-white">{{ message }}</h2>
            <i class="bi-exclamation-octagon display-1 text-danger mt-5 mb-5"></i>
            <h3 class="my-3 text-white">{{ error_status }}</h3>
            <a href="{{ url_for('home') }}" class="h3 display-font mt-5 border border-white rounded py-2 px-2" role="button">
                Go back to the Paleo Recipes homepage
            </a>
        </div>
    </section>

{% endblock %}