{% extends "base.html" %}
{% block content %}

    <!-- HERO SECTION -->
    <div class="col-sm min-vh-100 bg-dark hero-image">
        <div class="custom-container d-inline-flex px-3 mx-auto">
            <h1 class="text-start display-1 mt-5">Paleo Recipes</h1>
            <p class="text-start text-white h5">
                A place to find and share recipes.
            </p>
            <p class="text-start text-white h5">
                Search for and dish out <span class="fst-italic">(no pun intended!)</span>
                tips and ideas on eating healthy.
            </p>
            <div class="d-inline-flex flex-row">
                <a href="{{ url_for('recipes') }}" class="btn btn-transparent ms-n3" role="button">Find Recipes</a>
                <a href="{{ url_for('register') }}" class="btn btn-solid ms-n3" role="button">Create a Free Account</a>
            </div>
        </div>
    </div>

{% endblock %}