{% extends "base.html" %}
{% block content %}

    <!-- HERO SECTION -->
    <section class="col-sm min-vh-100 bg-dark hero-image">
        <div class="custom-container d-inline-flex px-3">
            <h1 class="text-start display-1 mt-3">Paleo Recipes</h1>
            <p class="text-start text-white">
                A place to find and share recipes.
            </p>
            <p class="text-start text-white">
                Search for and dish out <span class="fst-italic">(no pun intended!)</span>
                tips and ideas on eating healthy.
            </p>
            <div class="d-inline-flex flex-row">
                <a href="#" class="btn btn-transparent ms-n3" role="button">Find Recipes</a>
                <a href="#" class="btn btn-solid" role="button">Read Blogs</a>
            </div>
        </div>
    </section>




{% endblock %}