{% extends "base.html" %}
{% block content %}


    <!-- HERO SECTION -->
        <section class="col-sm min-vh-100 bg-dark hero-image">
            <div class="container d-flex">
                <div class="hero-content">
                    <h1 class="hero-text">Paleo foods to live by</h1>
                    <div class="row height d-flex mt-5 justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="search">
                                <i class="bi-search"></i>
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn search-btn">Recipes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




{% endblock %}