{% extends "base.html" %}
{% block content %}

    <!-- USER'S DASHBOARD -->
    <div class="container-fluid">
        <div class="row">
            <!-- VERTICAL SIDEBAR THAT SWITCHES TO HORIZONTAL ON MOBILE -->
            <!-- Inspired by Carol Skelly for Codeply - https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->
            <!-- SIDEBAR, visible to loggedin users -->
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 sidebar bg-dark d-flex border border-top-1 border-light">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mt-5 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <span class="ms-1 d-none d-sm-inline">{{ session.user|capitalize }}</span>
                            </a>
                        </li>
                        <!-- Recipes dropdown -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='images/logo-icon.webp') }}" class="logo-icon"
                                    alt="Paleo Recipes logo icon">
                                <span class="ms-1 d-none d-sm-inline">Recipes</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Search Recipes</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('home') }}"> Home Page</a></li>
                            </ul>
                        </li>

                    <!-- Sign Out dropdown -->
                    <div class="dropdown py-sm-5 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                        <!-- Paleo Recipes logo icon -->
                        <li class="dropdown">
                            <a href="{{ url_for('home') }}"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='images/logo-icon.webp') }}" class="logo-icon"
                                    alt="Paleo Recipes logo icon">
                                <span class="d-none d-sm-inline mx-1 signout-item fs-6 text">Logged In</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        <!-- DASHBOARD - CONTENT AREA-->
        <div class="col-sm min-vh-100 content-area">
            {% if session.user %}
                {% if session.user|lower != 'superadmin' %}
                    <h1 class="text-center mt-5 mb-4 paleo-font profile-header">Paleo Recipes User Dashboard</h1>
                    <h2 class="text-center mt-3 mb-5 display-font profile-header">Hi {{ session.user|capitalize }}, great to see you here!</h2>
                {% endif %}
                <!-- SUPERADMIN DASHBOARD -->
                {% if session.user|lower == 'superadmin' %}
                    <h1 class="text-center mt-5 mb-4 paleo-font profile-header">Admin Dashboard</h1>
                    <h2 class="text-center mt-3 mb-5 display-font profile-header">Hi {{ session.user|capitalize }}!</h2>
                    <div>
                        <p class="text-center mt-3 mb-5 h2 profile-header">
                            Let's soon build your own custom admin dashboard!
                        </p>
                        <div class="text-center">
                            <p class="h3 text-center">&#128516</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <!-- CUSTOM INFO FOR REGISTERED USERS/ MEMBERS -->
            {% if session.user %}
                {% if session.user|lower != 'superadmin' %}
                <div class="header-bg">
                    <h3 class="text-center mx-auto subtitle">All the information you need to find your way around the App</h3>
                    <button id="btnScrollUp" title="Go to top"><i class="bi bi-arrow-up-circle-fill"></i> Top</button>
                </div>

                <div class="dashboard-container text-center">
                    <p class="h5 mt-2 col-md-8 text-center">
                        Here on your dashboard, you will have access to your activities (recipes you have shared) and any other info
                        you may need to manage your files, such as our logged in members' Public API Key.
                    </p>
                </div>
                <div>
                    <h3 class="mt-4 alt-display-font">As a Paleo Recipes registered user, you will be able to:</h3>
                    <ol>
                        <li>View all the recipes added by ourselves and by all the registered users of the application</li>
                        <li>All the recipes you post are set to public, meaning every visitor to the site will be able to view them as well</li>
                        <li>You will be able to upload your recipe, including the image you want to go along with that particular recipe</li>
                        <li>Uploading a image requires a Public API Key. For your convenience, this Public API Key is dynamically made available
                            to you and to all our registered and logged in members, whenever they post a recipe. You will find this right below
                            the blank space you need to paste the Public API Key into.
                        </li>
                        <li>You will also be able to edit your recipe, and this requires a re-upload of a image for the recipe you are editing</li>
                        <li>You will also be able to delete any recipe you posted. Please be warned that this action cannot be undone
                            and we will not be able to retrieve a record of the recipe you decide to delete.
                        </li>
                        <li>You will be able to search for other recipes via the search bar on the recipes page</li>
                        <li>When uploading or editing a recipe, you will have access to the list of categories of recipes</li>
                        <li>You can choose a category from this list.</li>
                        <li>You will be able to edit which category to add with your own recipe. But you will not be able to delete any category.
                            This action is only available to our superadmin users.
                        </li>
                        <li>Finally, one of our future development plans is to include a blog functionality to the App.
                            You can however, already include some tips and insights about a particular recipe. Just add your tips inside the "Notes"
                            section of the form.
                        </li>
                    </ol>
                </div>
                    {% endif %}
                {% endif %}
            <!-- ATTEMPTING TO LOAD THE RECIPES UPLOAD BY THE USER -->
            <!-- {% if recipe_list %} -->
                <div class="ms-5">
                    <h3> Hi {{ session.user }}, here are the recipes you shared:</h3>
                </div>




            <!-- {% endif %} -->






        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}