{% extends "base.html" %}
{% block content %}

    <!-- USER'S DASHBOARD -->
    <section class="container-fluid">
        <div class="row">
            <!-- VERTICAL SIDEBAR THAT SWITCHES TO HORIZONTAL ON MOBILE -->
            <!-- Inspired by Carol Skelly for Codeply - https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->
            <!-- SIDEBAR, visible to loggedin users -->
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 sidebar bg-dark d-flex border border-top-1 border-light">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mt-5 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">{{ session.user }}</span>
                            </a>
                        </li>
                        <!-- Recipes dropdown -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-card-checklist"></i>
                                <span class="ms-1 d-none d-sm-inline">Recipes</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">Search Recipes</a></li>
                                <li><a class="dropdown-item" href="#">Add Recipes</a></li>
                                <li><a class="dropdown-item" href="#">Update Recipes</a></li>
                                <li><a class="dropdown-item" href="#">Delete Recipes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('home') }}"> Back to Home Page</a></li>
                            </ul>
                        </li>
                        <!-- Blog dropdown -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-chat-text"></i>
                                <span class="ms-1 d-none d-sm-inline">Blog</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">Search Blog</a></li>
                                <li><a class="dropdown-item" href="#">Post Tips and Ideas</a></li>
                                <li><a class="dropdown-item" href="#">Update Post</a></li>
                                <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('home') }}"> Back to Home Page</a></li>
                            </ul>
                        </li>
                    <!-- Sign Out dropdown -->
                    <div class="dropdown py-sm-5 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                        <!-- Paleo Recipes logo icon -->
                        <li class="dropdown">
                            <a href="{{ url_for('home') }}"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='images/logo-icon.webp') }}" class="logo-icon"
                                    alt="Paleo Recipes logo icon">
                                <span class="d-none d-sm-inline mx-1 signout-item fs-6 text">Logged In</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
            <!-- USER DASHBOARD - CONTENT AREA-->
            <section class="col-sm min-vh-100 content-area">
                {% if session.user %}
                    {% session.user != superadmin %}
                        <h1 class="text-center mt-5 mb-4 paleo-font profile-header">User Dashboard</h1>
                        <h2 class="text-center mt-3 mb-5 display-font profile-header">Hi {{ session.user }}, great to see you here!</h2>
                    {% endif %}
                {% endif %}

                <!-- TESTING USER DASHBOARD UI -->
                <div class="header-bg">
                    <h3 class="text-center mx-auto subtitle">All the information you need to find your way around the App</h3>
                </div>

                <div class="dashboard-container mx-auto">
                    <p class="h5 mt-2 col-md-8 mx-auto">
                        Here on your dashboard, you will have access to your activities (recipes and blogs added) and any other info
                        you may need to manage your files, such as our logged in members' Public API Key.
                    </p>
                </div>

                <!-- Blogs layout credit to: https://codepen.io/themesberg/pen/abNzONL -->
                <div class="container my-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel" data-slide-to="0" class="active bg-secondary"></li>
                                    <li data-target="#carousel" data-slide-to="1" class="bg-secondary"></li>
                                    <li data-target="#carousel" data-slide-to="2" class="bg-secondary"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                            Kits</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                            using GPT-3</h5>
                                                        <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                            platform and I had the occasion to play around with it...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                            jQuery</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                            9 and 10</h5>
                                                        <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                            to let you know that following this major update to version...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                            Kits</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                            using GPT-3</h5>
                                                        <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                            platform and I had the occasion to play around with it...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                            jQuery</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                            9 and 10</h5>
                                                        <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                            to let you know that following this major update to version...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-themes-summer-sale.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">35% discount for premium Bootstrap Themes, Templates, UI
                                                            Kits</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/gpt-3-tailwind-css-code-generator.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">We built an OpenAI powered Tailwind CSS code generator
                                                            using GPT-3</h5>
                                                        <p class="card-text">A couple of days ago we got access to the OpenAI’s Beta API
                                                            platform and I had the occasion to play around with it...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/bootstrap-5-tutorial/bootstrap-5-tutorial.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Bootstrap 5 tutorial: learn how to get started without
                                                            jQuery</h5>
                                                        <p class="card-text">We’re getting nearer to the end of summer and because we
                                                            know that this period can make a serious dent in your pocket..</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-3 mb-4">
                                                <div class="card mr-3">
                                                    <img src="https://themesberg.s3.us-east-2.amazonaws.com/public/posts/angular-10/angular-10-officially-released-dropping-ie-9-10.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Angular 10 officially released deprecating support for IE
                                                            9 and 10</h5>
                                                        <p class="card-text">If you’ve been using Angular for your web projects I’m glad
                                                            to let you know that following this major update to version...</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




























                <section>

                    <div class="dashboard-container mx-auto">
                        <h3 class="text-center h2 mt-5 paleo-font subtitle">Finding your way around the App</h3>
                        <p class="h5 mt-2">
                            Here on your dashboard, you will be able to find the answers to the following:
                        </p>
                    </div>
                    <div>
                        <h4>ALL ABOUT RECIPES</h4>
                        <p>VIEWING</p>
                        <p>FINDING</p>
                        <p>what you'll need to:</p>
                            <p>ADDING</p>
                            <p>UPDATING</p>
                        <p>DELETING</p>
                    </div>
                    <div>
                        <h4>ALL ABOUT BLOGS</h4>
                        <p>FINDING</p>
                        <p>READING</p>
                        <p>POSTING</p>
                        <p>EDITING</p>
                        <p>DELETING</p>
                    </div>
                    <div>
                        <h4>QUESTIONS & FEEDBACKS</h4>
                        <p>contact us</p>
                    </div>



                </section>




            </section>
        </div>
    </section>

{% endblock %}