{% extends "base.html" %}
{% block content %}

    <section class="min-vh-100 bg-dark recipe-bg">
        <div class="recipe-container mx-auto">
            <h1 class="text-center display-3 mt-4">Search for a Recipe</h1>
            <p class="paleo-font text-white h5">Find delicious and healthy recipes that everyone in your family will enjoy!</p>
        </div>
        <div class="bg-transparent mt-3">
            <form action="{{ search }}" method="POST">
                <div class="container-fluid">
                    <div class="row p-2 pt-3 d-flex align-items-center">
                        <div class="col-md-8 mx-auto">
                            <div class="d-flex form-inputs input-field">
                                <input class="validate form-control" type="text" name="query" id="query" required
                                    placeholder="Search for delicious and healthy recipes...">
                                <label for="query" class="white-text"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body text-center">
            <a href="{{ url_for('recipes') }}" class="btn btn-solid">Reset</a>
            <button class="btn btn-alt text-center mx-2" type="submit">
                <i class="bi bi-search"></i> Search
            </button>
        </div>

        <!-- DISPLAYING ALL AVAILABLE RECIPES -->
        <div class="container-fluid">

            <div class="card-group recipe-card-group">
                <div class="card mx-4 mb-3">
                    <img src="{{ url_for('static', filename='images/steak-salad.webp') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="list-group small">
                            <ul class="list-group list-group-horizontal-md">
                                <li class="list-group-item mx-1 bg-light rounded text-muted">
                                    <i class="bi bi-hourglass-split"></i> Prep: { 15 } mins
                                </li>
                                <li class="list-group-item mx-1 bg-light rounded text-muted">
                                    <i class="bi-clock"></i> Cook: { 45 } mins
                                </li>
                                <li class="list-group-item mx-1 bg-light rounded text-muted">
                                    <i class="bi bi-people-fill"></i> Serves: { 4 }
                                </li>
                            </ul>
                        </div>
                        <h2 class="card-title mt-3 recipe-title">Recipe Name</h2>
                        <p class="card-text text-muted">Category Name</p>
                        <p class="card-text h6 fst-italic">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                        <h3 class="h5 text-uppercase mt-4 subtitle">Posted by: { JOYCE}</h3>
                        <hr class="hr divider">

                        <h3 class="h5">Ingredients:</h3>
                        <p class="text-muted small">Ingredients items</p>

                        <h3 class="h5">Preparation and Cooking Instructions:</h3>
                        <p class="text-muted small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, enim debitis placeat esse quibusdam molestiae sit, porro quos quia explicabo a ullam nobis suscipit! Iure similique id consequatur quidem! Illum.</p>

                        <h3 class="h5">Notes:</h3>
                        <p class="text-muted small">Notes content</p>

                        <h3 class="h5">Nutrition:</h3>
                        <p class="text-muted small">Nutrition content</p>
                    </div>
                    <!-- <div>
                        <form action="" method="POST">
                            <button class="btn btn-solid border-0 px-3" type="submit">Add to Favourites
                                <i class="bi bi-emoji-heart-eyes"></i>
                            </button>
                        </form>
                    </div> -->
                </div>



            </div>
        </div>






    </section>











{% endblock %}