{% extends "base.html" %}
{% block content %}

    <section class="min-vh-100 bg-dark recipe-bg">
        <div class="recipe-container mx-auto">
            <h1 class="text-center display-3 mt-4">Search for a Recipe</h1>
            <p class="paleo-font text-white h4">Find delicious and health recipes that everyone in your family will enjoy!</p>
        </div>
        <div class="bg-transparent mt-3">
            <div class="container-fluid">
                <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                    <div class="col-md-8 mx-auto">
                        <div class="d-flex form-inputs">
                            <input class="form-control" type="text" placeholder="Search any product...">
                            <i class="bx bx-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-transparent">

        </div>
    </section>











{% endblock %}