{% extends "base.html" %}
{% block content %}

    <section class="container mb-5 wrapper bg-dark">
        <h1 class="text-center display-3 mt-5">Register</h1>
        <div class="row">
            <form action="{{ url_for('register') }}" method="POST" class="card col-12 col-md-8 offset-md-2 mb-5" >
                <div class="card-body">
                    <div class="row g-2">
                        <!-- username -->
                        <div class="align-self-center col-md-1">
                            <i class="bi-person-plus-fill bootstrap-icon btn btn-primary btn-floating m-1"></i>
                        </div>
                        <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="username" id="username" class="form-control validate"
                                    	minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                        placeholder="username" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <!-- first name -->
                        <div class="align-self-center col-md-1">
                            <i class="bi-person-badge bootstrap-icon btn btn-primary btn-floating m-1"></i>
                        </div>
                        <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="text" name="firstname" id="firstname" class="form-control validate"
                                    minlength="2" maxlength="15" pattern="^[a-zA-Z0-9]{2,15}$"
                                    placeholder="firstname" required>
                                <label for="firstname">First Name</label>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="align-self-center col-md-1">
                            <i class="bi-file-lock2-fill bootstrap-icon btn btn-primary btn-floating m-1"></i>
                        </div>
                        <div class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
                            <div class="form-floating mb-3">
                                <input type="password" name="password" id="password" class="form-control validate"
                                    minlength="8" maxlength="15" pattern="^[a-zA-Z0-9]{8,15}$"
                                    placeholder="password" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- register button -->
                        <div class="row d-flex justify-content-center mt-2">
                            <div class="text-center">
                                <button class="btn btn-solid border-0 px-3" type="submit">Register
                                    <i class="bi-box-arrow-in-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-2">
                            <div class="mx-auto text-center">
                                <p>Already registered?
                                    <a href="{{ url_for('login') }}" class="text-center paleo-font paleo-link">Log in now.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}