click==8.1.3
cloudinary==1.29.0
dnspython==2.2.1
Flask==2.1.2
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.2
psycopg2==2.9.3
pymongo==4.1.1
SQLAlchemy==1.4.37
Werkzeug==2.1.2
