/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');


/* GLOBAL STYLING */
:root {
    --ff-display: 'Dancing Script', Handwriting;
    --ff-primary: 'Poppins', Sans-serif;

    --fw-bold: 700;
    --fw-medium: 500;
    --fw-normal: 400;

    --fs-display: 2rem;
    --fc-h: #181818;

    /* Colours  */
    --custom-color-white: #fff;
    --custom-color-display: #aebf2c;
    --custom-color-primary: #bf6b04;
    --custom-color-secondary: #401b05;
    --custom-color-tertiary: #0d0d0d;

    --text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);

    --box-shadow:  8px 8px 8px rgba(0,0,0,0.6),
                    8px 8px 35px rgba(255,255,255,0.3);

    --buttons-color: #aebf2c;
    --buttons-color-secondary: #bf6b04;

    --border-color: #d2d6d9;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADERS AND TEXT */
h1 {
    font-family: var(--ff-display);
    text-shadow: var(--text-shadow);
    color: var(--custom-color-display);
}

h2 {
    font-family: var(--ff-primary);
}

h3 {
    font-family: var(--ff-primary);
}

p {
    font-family: var(--ff-primary);
}

a {
    text-decoration: none;
}

/* FLASH MESSAGES STYLING */
.flash {
    font-family: var(--ff-primary);
    color: var(--custom-color-primary);
    margin-bottom: 0;
    border-radius: 0;
}

.flash-btn {
    background-color: var(--buttons-color-secondary);
}


/* BUTTONS STYLING */
.btn-transparent {
    border: 1px solid var(--buttons-color);
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    margin: 1rem;
}

.btn-transparent:hover {
    background-color: var(--buttons-color-secondary);
    color: #fff;
    border: none;
}

.btn-solid {
    border-radius: 5px;
    background-color: var(--buttons-color);
    color: #fff;
    margin: 1rem;
}

.btn-solid:hover{
    background-color: var(--buttons-color-secondary);
    color: #fff;
}

/* CONTAINERS STYLING */
.custom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8rem;
    margin-left: 5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.wrapper {
    border: 2px solid var(--custom-color-display);
    border-radius: 5px;
    box-shadow: 1rem 1rem 1.4rem #cbced1, 1rem 1rem 1.4rem #fff;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* LOGO */
.logo {
    width: 8rem;
    height: 2rem;
}

/* NAVBAR STYLING */
.nav-link {
    font-family: var(--ff-primary);
    color: var(--custom-color-white);
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    border: 2px solid var(--buttons-color);
    border-radius: 5px;
}

.dropdown-menu {
    color: var(--buttons-color);
    margin-right: 1rem;
}

.nav-link:hover {
    color: var(--buttons-color);
}

.nav-link:active {
    color: var(--ff-primary);
}

.dropdown-item:hover {
    color: var(--custom-color-secondary);
}

.dropdown-item:active {
    color: var(--buttons-color);
}

/* SIDEBAR STYLING */
.sidebar {
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3);
}

.logo-icon,
.profile-img {
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar-icon {
    color: var(--custom-color-primary);
    width: 4rem;
    height: 4rem;
    font-family: var(--ff-primary);
    margin-left: 2px;
}

.signout-item {
    font-family: var(--ff-primary);
}

.signout-item:hover {
    color: var(--buttons-color);
}

/* INDEX PAGE STYLING   */
/* hero section styling */
    /* credit: https://www.w3schools.com/howto/howto_css_hero_image.asp */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/chicken.webp");

    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bd-highlight {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/* LOGGED IN USERS - CONTENT AREA STYLING */
.content-area {
    background-color: #e1e1e1;
}

/* FOOTER STYLING */
footer {
    background-color: var(--custom-color-tertiary);
    font-family: var(--ff-primary);
}

.text-display {
    font-size: 0.8rem;
    color: var(--border-color);
    padding-top: 0.5rem;
}

footer h6 {
    color: var(--buttons-color);
    text-shadow: var(--text-shadow);
}

footer p {
    font-size: 0.8rem;
}

.social-icon {
    background-color: var(--buttons-color);
    border: 1px solid var(--border-color);
    text-shadow: var(--text-shadow);
}

.copyright-bg {
    background-color: var(--custom-color-secondary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 26.25em) {
    .hero-text {
        font-family: var(--ff-display);
        font-size: 4rem;
        text-shadow: var(--text-shadow);
        color: #aebf2c;
    }
}

@media screen and (max-width: 25.25em) {
    .avatar-img {
        width: 3rem;
        height: 3rem;
        right: 0%;
    }

    .carousel-caption {
        bottom: 0.5rem;
        text-align: end;
    }
}

@media screen and (max-width: 53.5em) {
    .carousel-caption {
        bottom: 0.5rem;
        text-align: end;
    }
}
