/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');


:root {
    --ff-display: 'Dancing Script', Handwriting;
    --ff-primary: 'Poppins', Sans-serif;

    --fw-bold: 700;
    --fw-medium: 500;
    --fw-normal: 400;

    --fs-display: 2rem;
    --fc-h: #181818;

    /* Colours  */
    --custom-color-white: #fff;
    --custom-color-display: #aebf2c;
    --custom-color-primary: #bf6b04;
    --custom-color-secondary: #401b05;
    --custom-color-tertiary: #0d0d0d;

    --text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);

    --box-shadow:  8px 8px 8px rgba(0,0,0,0.6),
                    8px 8px 35px rgba(255,255,255,0.3);

    --buttons-color: #aebf2c;
    --buttons-color-secondary: #bf6b04;

    --border-color: #d2d6d9;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* LOGO */
.logo {
    width: 8rem;
    height: 2rem;
}

/* NAVBAR STYLING */
/* .navbar {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.navbar.active {
    position: fixed;
    padding: 0 20px;
    z-index: 100;
    background: var(--custom-color-tertiary);
} */

.nav-link {
    font-family: var(--ff-primary);
    color: var(--custom-color-white);
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    border: 2px solid var(--buttons-color);
    border-radius: 5px;
}

.dropdown-menu {
    color: var(--buttons-color);
    margin-right: 1rem;
}

.nav-link:hover {
    color: var(--buttons-color);
}

.nav-link:active {
    color: var(--ff-primary);
}

.dropdown-item:hover {
    color: var(--custom-color-secondary);
}

.dropdown-item:active {
    color: var(--buttons-color);
}

/* SIDEBAR STYLING */
.sidebar {
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3);
}

.logo-icon,
.profile-img {
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar-icon {
    color: var(--custom-color-primary);
    width: 4rem;
    height: 4rem;
    font-family: var(--ff-primary);
    margin-left: 2px;
}

.signout-item {
    font-family: var(--ff-primary);
}

.signout-item:hover {
    color: var(--buttons-color);
}

/* HEADERS AND TEXT */
h1 {
    font-family: var(--ff-display);
    font-weight: var(--fw-bold);
    font-size: 3rem;
    text-shadow: var(--text-shadow);
    color: var(--custom-color-secondary);
}

h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    font-size: 2.5rem;
}

h3 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    font-size: 2rem;
}

p {
    font-family: var(--ff-primary);
}

a {
    text-decoration: none;
}

/* LOGGED IN USERS - CONTENT AREA STYLING */
.content-area {
    background-color: #e1e1e1;
}





/* SEARCH BAR STYLING */
/* credit: https://bbbootstrap.com/snippets/bootstrap-search-box-input-icons-inside-88211241 */

.search {
    position: relative;
    box-shadow: 0 0 2.5rem rgba(51, 51, 51, 0.5)
}

.search-btn {
    position: relative;
}

.search input {
    height: 3.5rem;
    text-indent: 1.5rem;
    border: 2px solid var(--buttons-color);
}

.search input:focus {
    box-shadow: none;
    border: 2px solid var(--buttons-color);
}

.search .bi-search {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 2.9rem;
    width: 6.875rem;
    background-color: var(--buttons-color);
}



/* INDEX PAGE STYLING   */
/* hero section styling */
    /* credit: https://www.w3schools.com/howto/howto_css_hero_image.asp */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/green-foods.webp");

    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

/* Place text in the middle of the image */
.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.search .bi-search {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 2.9rem;
    width: 6.875rem;
    background-color: var(--buttons-color);
    text-shadow: var(--text-shadow);
    font-weight: var(--fw-medium);
}

.hero-text {
    font-family: var(--ff-display);
    font-size: 5rem;
    text-shadow: var(--text-shadow);
    color: var(--custom-color-display);
}

.form-control {
    background-color: var(--custom-color-white);
}






/* FOOTER STYLING */

footer {
    background-color: var(--custom-color-tertiary);
    font-family: var(--ff-primary);
}

.text-display {
    font-size: 0.8rem;
    color: var(--border-color);
    padding-top: 0.5rem;
}

footer h6 {
    color: var(--buttons-color);
    text-shadow: var(--text-shadow);
}

footer p {
    font-size: 0.8rem;
}

.social-icon {
    background-color: var(--buttons-color);
    border: 1px solid var(--border-color);
    text-shadow: var(--text-shadow);
}

.copyright-bg {
    background-color: var(--custom-color-secondary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 26.25em) {
    .hero-text {
        font-family: var(--ff-display);
        font-size: 4rem;
        text-shadow: var(--text-shadow);
        color: #aebf2c;
    }

}

@media screen and (max-width: 25.25em) {
        .search button {
            background-color: transparent;
        }

}

